.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

.chat {
  border: 1px solid #999;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin: 0 5px;

}

.topcontainer {
  position: fixed;
  bottom: 50px;
  left: 0;

}
.botcontainer {
  position: fixed;
  bottom: 0;
  left: 0;

}

.serverMsg{
  color: #999;
}

.userMsg{
  
}